@import 'quill/dist/quill.snow.css';
@import 'quill-better-table/dist/quill-better-table.css';
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add Ken Burns animation */
@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: center center;
  }
  100% {
    transform: scale(1.1) translate(0, 0);
    transform-origin: center center;
  }
}

.animate-kenburns {
  animation: kenburns 15s ease-out forwards;
}